{% extends 'layout.html' %}

{% block body %}

<br>

<div id='contain'>
  <div class="container">
    <div class="jumbotron" id='jumbo'>

        <h2>Let us know what you like..</h2> 
        <hr> 
        <p>
        <form method="POST">
          <span class="input">
          <input type="text" name="song" placeholder="Enter the name of a song" required>
          <span></span> 
          </span>
          </p>
          <p>
          <span class="input">
          <input type="text" name="artist" placeholder="Enter the name of an artist" required>
          <span></span> 
          </span>
          </p>

          <input type="submit" class="btn" value="Submit">
        </form>
        
        <form action="/similarity">
          <input type="submit" class="btn" value="Clear">
        </form>
        
        <ol class="list-group" id="list">
          {% for song in similarSongs %}
            <a class="list-group-item" href="https://www.youtube.com/results?search_query={{ song }}" target="_blank">{{song}}</a>
          {% endfor %}
        </ol>
        
        
        
    </div>
  </div>
</div>

{% endblock %}
